span {
	opacity: 1;
}

.custom {
	background-image:url(../img/fondo.jpg);
	background-attachment:fixed;
	widows: 100%;
}

.licustom {
	background: rgba(209,234,183,0.4);
    margin-top: 8px;
}

button: hover {
	background: red;
}


.popuptext {
    visibility: hidden;
    width: 120px;
    height: auto;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 8px;
    position: absolute;
    z-index: 9999999999;
   /* bottom: 125%;*/
   right:1em;
   top: 44px;
   padding-left: 18px;
   -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.40); -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.40); box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.40);
   
}
